.reveal div.footer-left {
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 0;
    margin: 0;
    font-size: small;
}
.reveal div.footer-right {
    position: absolute;
    bottom: 10px;
    right: 25px;
    padding: 0;
    margin: 0;
    font-size: small;
}
